## STAT 207 Lab 3: Sampling, Loops and Functions - [30 total points]

Due: Wednesday, February 17, 11:59pm CST

### SOLUTIONS

This lab consists of 3 main parts. You may add as many cells as you need in order to do the exercises. To add cells use the "Insert" tab from the menu bar above and select "insert cell above" or "insert cell below". 

The data file "cards.csv" is included in the release. It is a data frame representing the 52 cards in a standard deck of playing cards. Each row represents one of the 52 possible cards. For further details see the course notes "04_Sampling".

**Note: Some problems require deriving answers mathematically or explaining rather than coding.**

In [1]:
import pandas as pd

## Question 1: [2 pts] *Calculating* the probability of drawing a five-card hand with two diamonds.

### 1a.  How many combinations of two diamonds can you make from a standard deck of cards?

Hint: How many diamonds are in the deck?

In [2]:
#13 cards for every suit
#without replacement and order does not matter
#13!/(2! * 11!)
#After cancelling out:
(13 * 12)/(2)

78.0

### 1b. [2 pts] How many combinations of three non-diamonds can you make from a standard deck of cards?

Hint: How many non-diamonds are in the deck?

In [3]:
#without replacement and order does not matter
52-13 # =39 non-diamonds in the deck
#39!/(3! * 36!)
#after cancelling out: 
(39 * 38 * 37)/(3 * 2)

9139.0

### 1c. [2pts]  How many combinations of five card hands contain two diamonds and three non-diamonds?

In [4]:
#without replacement and order does not matter

#choice a: which two distinct faces of diamond cards you will choose
#how many possible ways can we get k=2 distinct face cards of the diamond suit
#calculated in 1a : 78

#choice b: which three distinct non-diamond cards you will choose
#hwo many possible ways can we get k = 3 distinct cards that are not diamond
#calculated in 1b : 9139

#only include a third option to mulitply in the numerator if there is more than one combination available 
#after making a distinction between something
    #in the full house there is different combinations of suits you can have - diamond/heart, heart/club, etc
    #but in this example there is only diamond and non-diamond or non-diamond and diamond, so no extra calculation is needed?
    
    
    
#calculate numerator as choice a * choice b 
numerator = 78 * 9139 

print("The number of combinations of five card hands that contain two diamonds and three non-diamonds is", numerator)

The number of combinations of five card hands that contain two diamonds and three non-diamonds is 712842

### 1d. [2 pts] What is the probability of randomly drawing five cards from the deck and getting a hand that has two diamond and three non-diamonds?

In [5]:
denominator = (52 * 51 * 50 * 49 * 48)/(5 * 4 * 3 * 2 * 1)
denominator

2598960.0

In [6]:
numerator/denominator

0.2742797118847539

## Question 2: *Approximating* the probability of drawing a five-card hand with exactly two diamonds.

### 2a. [1 pt] Read the cards.csv into a dataframe called cards and display the first five rows of the dataframe.

In [7]:
cards = pd.read_csv('cards.csv')
cards.head()

   color  suit face
0  black  club    A
1  black  club    2
2  black  club    3
3  black  club    4
4  black  club    5

### 2b. [2 pts] Create a new dataframe called 'sample1' that is a random sample of five rows from this dataframe in the following way.
* Sample without replacemnt.
* Use a random state of 7.

#### Then display this dataframe.

In [8]:
sample1 = cards.sample(5, replace = False, random_state = 7)
sample1

    color     suit face
22  black    spade   10
27    red  diamond    2
34    red  diamond    9
15  black    spade    3
18  black    spade    6

### 2c.  [2 pts] Suppose everyone in the class writes the same code above as you. Would you expect everyone in the class to get the same output as you? Why or why not?

Yes, the random_state perameter when set to any number fixes a state of randomness and since everyone in the class is setting random_state as 7, we should all see the same fixed sample

### 2d.  [2 pts] Run this code below to create the series that results from using the .value_counts() function on the 'suits' column of our sample1 dataframe. Then in the code below it, extract just the list of indices for this series.

(Hint: Check Unit 2 slides).

In [9]:
sample1['suit'].value_counts()

spade      3
diamond    2
Name: suit, dtype: int64

In [10]:
sample1['suit'].value_counts().index

Index(['spade', 'diamond'], dtype='object')

### Tutorial:

We can extract the **value** that corresponds to a named index from a series by using the **.loc()** function.

In [11]:
sample1['suit'].value_counts().loc['spade']

3

### 2e. [1 pt] Use the .loc() function to extract the number of diamonds in sample1.

In [12]:
sample1['suit'].value_counts().loc['diamond']

2

### Tutorial:

We can test whether a certain object is **not in** a list by using the **if**, **else**, and **not in** operators as shown below.

In [13]:
#Run this
fun_list=['Nick', 'Kevin', 'Joe']

In [14]:
#Run this
if 'Nick' not in fun_list:
    print('this person is not in the list')
else:
    print('this person is in the list')

this person is in the list

In [15]:
#Run this
if 'Harry' not in fun_list:
    print('this person is not in the list')
else:
    print('this person is in the list')

this person is not in the list

### 2f.  [2 pts] Write a code that tests whether 'diamond' is NOT IN the index of sample1['suit'].value_counts().

*  **if** 'diamond' IS NOT in the index, then the **code** should ***print 'there are no diamonds in the hand'***.
    
*  **else** (aka: if 'diamond' IS in the index), then the **code** should ***print 'there are diamonds in the hand'***.

In [16]:
series = sample1['suit'].value_counts().index
series

Index(['spade', 'diamond'], dtype='object')

In [17]:
if 'diamond' not in series:
    print("there are no diamonds in the hand")
else:
    print("there are diamonds in the hand")

there are diamonds in the hand

### 2g.  [2 pts] Write a code below that does the following.
*First* it tests whether 'diamond' IS NOT in the index of the <u>sample1['suit'].value_counts()</u> series.

*  **if** 'diamond' IS NOT in the index, then the **code** should <u>print 'there are no diamonds in the hand'</u>.
    
*  **else** (aka: if 'diamond' IS in the sample1['suit'].value_counts() variable), then the code should then test whether the **value** that corresponds to the 'diamond' index in <u>sample1['suit'].value_counts()</u> equal to 2.
    - **if** the 'diamond' value does equal 2, then the **code** should <u>print "there are two diamonds in the hand."</u>
        
    - **else** (aka if 'diamond' value does NOT equal 2), then the **code** should print <u>"there are not two diamonds in the hand."</u>
    

#### Hint: Section 9 code in the Unit 5 notebook may be helpful here.

In [18]:
sample1_counts = sample1['suit'].value_counts()
sample1_counts

spade      3
diamond    2
Name: suit, dtype: int64

In [19]:
if 'diamond' not in sample1_counts:
    print("there are no diamonds in the hand")
else:
    if sample1_counts['diamond'] == 2:
        #or sample1['suit'].value_counts().loc['diamond'] == 2 
        print("there are two diamonds in the hand")
    else:
        print("there are not two diamonds in the hand.")

there are two diamonds in the hand

### 2h.  [2 pts] Write a FUNCTION below that does the following.

Create a function that is meant to take a dataframe df as input. The input dataframe should represent a sample dataframe of 5 cards/rows that you have sampled from the cards dataframe.
* The function should return **False** if the sample dataframe has no diamonds.
* The function should return a **True** if the sample dataframe contains diamonds and there are exactly two of them.
* The function should also return **False** if the sample dataframe contains diamonds, but there are not exactly two of them.

#### Hint: Section 9 code in the Unit 5 notebook may be helpful here.

In [20]:
def containsdiamond (df = cards.sample(5), var = 'suit'):
    if any(df[var] == 'diamond'):
        counts = df[var].value_counts()
        if counts['diamond'] == 2:
            return True
        else:
            return False
    else:
        return False

### 2i.  [2 pts] Test whether your sample1 dataframe contains exactly two diamonds.

In [21]:
containsdiamond(sample1)

True

### 2j.  [2 pts] Use this function to do the following.
1. Simulate drawing 10000 hands (remember hand = 5 cards) from the 52 card deck. Each trial is randomly sampled without replacements.
2. Test whether the trial has exactly two diamonds.
3. Calculates the proportion of the 10000 hands that have exactly two diamonds.

**Hint: DON'T use the random_state parameter in this code.**

In [22]:
num_trials = 10000
diamonds2_count = 0

for i in range(num_trials):
    new_hand = cards.sample(5, replace = False)
    diamonds2_count += containsdiamond(new_hand)
print("Total number of hands with 2 diamonds exactly:", diamonds2_count)
print("Total number of trials:", num_trials)
print('The proportion of the', num_trials, 'hands that have exactly two diamonds is', diamonds2_count/num_trials)

Total number of hands with 2 diamonds exactly: 2751
Total number of trials: 10000
The proportion of the 10000 hands that have exactly two diamonds is 0.2751

## Question 3:  [1 pts] Compare your approximated probability of drawing a hand with exactly two diamonds (from question 2) and the probability that you calculated (in question 1). What is the difference?

In [23]:
(numerator/denominator) - (diamonds2_count/num_trials)

-0.0008202881152460928

## Question 4: Sampling Cards with Replacement

### 4a:  [1 pts] Randomly sample 3 cards from the cards dataframe with replacement.

In [24]:
cards.sample(3, replace = True)

    color   suit face
19  black  spade    7
1   black   club    2
25  black  spade    K

### 4b.  [2 pts] Assume that we randomly sampled 3 cards from the deck with replacement. How many three card permutations exist for this experiment?

#### Hint: "Permutation" imples we care about the order in which the cards were drawn.

In [25]:
#n to the k power
52 ** 3

140608