# STAT 207 Lab 7: Hypothesis Testing - [25.5 total points] (0.5) is bonus points - Solutions

Due: Wednesday, March 24 11:59pm CST



## <u>Case Study</u>: U.S Unemployment Rates and Median Education Levels
In this lab we will explore the statistical concepts that we've learned this week while also examining the **unemployment rates** and **median education levels** of the counties in the U.S.

### Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## 1. <u>Preliminaries</u>

### Read the county.csv into a dataframe, call it df, and display the first five rows.

Remember that 'data unavailable' represents missing values in this csv. Make sure you encode these values as NaN when you read the data in.

In [2]:
df = pd.read_csv('county.csv')
df.head()

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
0,Autauga County,Alabama,43671,54571,55504,1.48,13.7,77.5,7.2,3.86,yes,some_college,27841.7,55317,none
1,Baldwin County,Alabama,140415,182265,212628,9.19,11.8,76.7,22.6,3.99,yes,some_college,27779.85,52562,none
2,Barbour County,Alabama,29038,27457,25270,-6.22,27.2,68.0,11.1,5.9,no,hs_diploma,17891.73,33368,partial
3,Bibb County,Alabama,20826,22915,22668,0.73,15.2,82.9,6.6,4.39,yes,hs_diploma,20572.05,43404,none
4,Blount County,Alabama,51024,57322,58013,0.68,15.6,82.0,3.7,4.02,yes,hs_diploma,21367.39,47412,none

In [3]:
df.dtypes

name                  object
state                 object
pop2000               object
pop2010                int64
pop2017               object
pop_change            object
poverty               object
homeownership        float64
multi_unit           float64
unemployment_rate     object
metro                 object
median_edu            object
per_capita_income     object
median_hh_income      object
smoking_ban           object
dtype: object

In [4]:
for i in df['pop2000'].unique():
    print(i)
#found non numbers: data unavailable

43671
140415
29038
20826
51024
11714
21399
112249
36583
23988
39593
15922
27867
14254
14123
43615
54984
14089
12202
37631
13665
77483
49129
46365
64452
65874
38440
103459
18495
31223
25764
9974
17185
16310
88787
53926
662047
15904
87966
34803
115092
65676
13473
24105
276700
22539
31214
82231
399843
24324
223510
111064
11861
20949
29605
22380
49756
64742
143293
14798
80321
41475
164875
70713
18097
13183
24843
2697
5465
260283
16006
1258
1893
4922
82840
2392
3436
30711
49691
14070
13913
1823
59322
9196
7385
7208
6684
6146
8835
data unavailable
6174
10195
7028
808
6551
69423
117755
116320
51335
33489
8547
19715
3072149
155032
97470
843746
179727
38381
167517
160026
20749
24209
38386
153406
33948
12600
5744
25357
14117
23546
17609
24046
8571
25603
20336
82148
53247
50866
19526
9210
15341
18723
86014
17771
11642
88068
16464
37331
23587
30353
14300
34233
13249
18418
84278
22781
8559
17774
12580
14492
13628
22486
52828
14243
16140
40443
51979
10254
9245
9955
8608
28790
10209
26445
11303
25614
20229
54469
9539
361474
18195
29329
83529
10996
8261
115071
15757
17119
11499
45629
16192
157715
67165
8741
21139
1443741
1208
35100
203171
40554
18804
948816
27507
156299
799407
26453
126518
142361
17945
661645
129461
58309
33828
9519338
123109
247289
17130
86265
210554
9449
12853
401762
124279
92033
2846289
248399
20824
1545387
1223499
53234
1709434
2813833
776733
563598
246681
707161
399347
1682585
255602
163256
3555
44301
394542
458614
446997
78930
56039
13022
368021
54501
753197
168660
60219
363857
14966
487967
9898
4517
5998
291288
16242
2231
9322
8400
3663
5518
3503
27834
554636
1844
175766
41659
19872
516929
46145
43791
4757
12442
13956
790
7862
1577
527056
1622
8011
7812
43941
251494
15207
6087
20504
116255
831
13184
23830
33432
27171
20311
3742
14523
4480
14872
14483
141472
5986
12413
19690
5917
558
6594
2747
23548
20555
4926
180936
9841
882567
857183
182193
155071
824008
259088
136364
109091
126697
500265
156638
572059
217955
22259
148217
26088
476230
1623018
13017
141627
118085
140814
251377
56513
32209
13827
778879
294410
49832
11057
45087
14437
10576
13332
13327
26938
36210
130802
87366
998948
18564
112947
46755
12902
7022
210528
440888
239452
34450
7021
18733
264002
258916
126731
2253362
79589
57663
170498
35910
896344
172493
1131184
344765
921482
483924
70423
123135
192695
117743
325957
365196
53345
34844
19256
13442
443343
22863
40601
20973
17419
7609
10103
4074
44700
14422
46144
76019
17484
16235
153887
11666
14629
16450
23417
55983
22243
19522
6320
43664
9577
87268
53282
10282
232048
14882
25470
141903
101489
3357
236517
6878
607751
37413
42053
89288
15771
89215
12495
21996
15154
15999
28240
665865
19171
11525
96065
92174
12354
3754
37535
20511
21837
10495
19798
91263
90565
98407
20285
816006
23456
2556
67568
44104
23659
14406
588448
35902
139277
10076
25690
23695
22997
11012
119341
110765
9931
41589
11426
12684
17266
8575
8560
23639
15912
7241
44874
24757
61610
8348
10304
92115
21016
21231
10847
14074
25730
7144
22534
6383
23932
21757
8270
15457
36506
186291
62001
26225
12635
81678
23668
22983
15636
13688
38127
9588
18812
2598
15050
7791
199775
70111
3766
15374
9369
58417
25435
5252
33200
6498
2077
22305
8815
11794
10970
42737
38407
26067
9319
6854
58779
9504
10590
17289
27597
61053
60687
35483
6336
21176
26565
2390
6179
19944
83525
8577
10687
10220
21967
148677
876156
147
58463
128094
300904
3476
75565
6411
9171
41735
18991
6670
36835
82522
9871
2899
991
131441
7304
21416
1022
8930
4342
29130
11329
11819
15181
14155
15511
19155
18342
108685
34935
7806
3747
4044
27467
20174
37410
4125
10644
20578
7538
13771
5999
64284
7651
9977
68277
9590
17633
41786
6950
35503
5084
16674
13695
179669
35372
17008
14560
35535
53196
5376741
20452
11253
88969
16798
19922
904161
19704
6971
34264
21802
14241
39018
38250
6445
14761
8621
20121
4800
8213
51020
31334
59612
10117
40045
21668
22289
12878
404119
103833
54544
55836
644356
111509
15452
36062
39678
31183
32913
260077
150433
114706
49019
258941
41691
13180
16038
15161
12486
16957
27619
30652
36616
14287
51032
183433
23094
16365
17384
4413
7348
6086
33893
16149
149374
256082
26733
188951
7189
5537
22893
6332
48979
128485
18293
83919
12937
18735
15148
17151
15371
60653
502266
61296
278418
35469
33625
331849
71435
9421
14048
46107
14957
20165
40930
96472
26556
33866
10743
29820
46109
24555
40285
118769
39674
182791
25588
70823
17954
22151
32500
73403
33157
182740
55391
34325
104093
48508
84964
38075
41335
30043
21806
31705
27554
115209
39256
74057
34909
484564
110106
45922
133358
860454
45128
10369
36082
120563
37629
66689
14566
46275
5623
19306
21786
17241
18899
12837
146798
27061
13755
36019
27401
26523
18261
265559
22960
43445
20391
23556
33214
21751
9065
148955
16577
7349
171922
16788
105848
34960
8419
52383
27223
71097
27600
25267
30707
8243
4482
14675
13721
6830
25308
128012
26224
23325
21093
20411
15305
11115
21421
14684
18187
46447
13035
13095
9133
17372
18678
50149
16942
40750
8541
8689
18404
42351
16424
89143
11027
22008
16900
10704
8010
10366
12369
11353
16438
12100
15666
9932
10381
7837
15671
20296
37213
16181
111006
20221
11400
17163
38052
191701
12183
9422
11763
14019
22335
32052
39311
14547
10874
10020
8016
11771
41722
15102
7003
16976
10147
24849
8662
374601
87704
18815
5469
11529
158668
13173
31589
79981
18103
6958
12309
7809
36051
40671
20670
6730
40235
11723
21310
103877
7909
14334
14385
8110
16774
5307
28205
15379
10724
59482
3030
4359
22605
3165
8822
10268
8865
1967
36291
38242
3472
19344
8249
99962
3449
3261
6525
40523
32458
24784
27947
3068
2946
5904
1534
7673
2670
6536
32869
4307
2085
12657
18426
3791
451086
4531
8673
3278
22835
2155
68691
3578
9570
3046
35935
29554
13361
10965
4631
28351
6932
36252
6104
3496
10717
16997
3454
5953
16712
4452
6163
7233
6001
18209
9647
2966
64790
5835
10761
62843
5685
3551
7370
53597
5120
452869
22510
169871
2813
6760
4536
4789
2406
5463
25946
8180
3319
6885
1749
6483
2531
10332
3788
157882
17244
17800
19111
8286
38033
11085
30060
85991
19360
49752
27697
8279
16100
18648
61236
13010
13060
34177
88616
5351
10155
26889
15447
72265
33144
24556
9634
9384
7147
91545
11644
6748
15307
260512
13792
42441
47687
7752
7870
14792
22384
37028
24053
11518
36891
8392
94174
33202
17983
17445
44829
15060
5262
46519
13495
693604
39041
23445
151464
17649
31795
13373
52715
15569
7916
12401
25277
14092
23361
9804
26573
8080
65514
17080
9938
70872
18212
30125
12578
16800
26349
6556
20817
10037
11756
22554
13948
31839
37477
6813
22916
46178
10547
4858
14390
29390
68736
13237
56217
2266
16582
22094
16315
33061
33337
16405
11766
22927
11971
12597
8125
15637
92522
10916
19923
14120
35865
7065
23208
58861
25440
76627
23388
41481
32986
15752
98310
252161
183577
10560
9991
10920
16851
20247
25494
412852
21360
35434
21263
18698
73266
33320
15397
455466
31435
190503
89974
14282
42509
91814
13728
31021
39080
484674
147250
26757
22763
126337
9622
20981
23459
67229
48072
10525
21216
43044
87700
48583
53500
191268
100588
6618
104503
22803
53807
52531
43926
41831
21601
12314
15111
16894
103793
73938
265612
29467
51791
117114
39618
33616
54755
144919
17235
35214
50888
36280
33941
186742
74930
489656
754292
74563
29772
150897
85951
120546
30674
195277
29846
218590
247842
19197
873341
801515
40563
86211
24747
33812
131923
84644
46543
651154
222230
134953
534678
14987
723419
71535
456228
152251
1465396
9520
650308
472822
689807
750963
11719
9862
105665
31314
23110
17269
8746
56755
110157
15998
162453
45787
137985
51104
26090
26448
38543
31252
64753
14273
38520
27472
103655
31437
436141
26023
17370
77654
42285
46527
36016
36079
279320
61518
27339
13138
63351
158422
238603
16571
574335
2301
11333
87904
21119
98890
156951
7024
11943
788149
24527
64634
28274
40553
25326
82874
14478
145945
61266
10315
170200
47874
1194156
26873
21645
7818
23197
9418
23301
238314
14411
25469
210039
164235
62422
44547
8903
71687
58266
76263
322895
2061162
30484
15301
298084
30000
39650
34226
5820
55941
26911
31671
70205
27150
13088
41101
51229
8423
5168
12167
55099
355904
17731
32821
21122
32584
44127
6289
1116200
19718
18376
31287
43992
11268
14996
41203
5285
14355
8067
11058
4522
25426
6429
25425
34898
5190
22644
22330
31712
38603
9165
29771
20832
7442
124277
57159
13584
26530
9895
31369
11236
511035
4299
16815
17154
56665
9721
16338
200528
89498
64417
15356
133166
33680
10053
11956
24426
4134
21610
13713
201130
11876
7138
49985
89986
11080
34340
34558
13599
19661
8026
40633
15069
10769
19440
9758
11831
17955
21979
30622
28757
19407
107199
72604
8448
19144
13299
23263
42967
189601
250800
21609
11206
2274
22770
131420
18149
9740
13962
64958
10453
38744
39070
78161
13258
20940
75755
37947
33166
61586
74674
25595
34993
38014
12189
28684
21838
12548
42902
34274
48621
12138
38940
26726
25556
115327
28423
6580
27639
16182
13622
34369
14903
25370
19163
9227
25362
15156
49644
62977
10294
10312
20160
13051
28149
24977
16492
6430
25853
34010
12541
16653
17180
12029
135454
85998
40867
8969
40766
37051
68693
10285
5941
82092
13733
8438
54285
7416
184006
18979
71397
16670
22804
7923
15661
11597
14927
13084
33155
93807
15342
6861
240391
10432
8850
21997
8940
10212
37238
10697
654880
104686
198099
48258
4361
32513
32960
35204
10494
38944
13754
14558
21681
15762
11800
28289
3757
23564
13427
14827
9311
12136
19309
19760
52636
21912
10344
13062
9542
20047
18132
39403
39825
18351
73781
26992
41165
5223
9626
24663
23354
6689
13509
283883
9652
17842
55641
1016315
23756
4170
4983
40422
8324
6799
29705
28658
7219
39703
23003
20454
24525
23344
13259
31045
2382
348189
9202
12671
7009
4385
9552
1360
80357
5970
11696
2017
9059
9417
2837
11893
74471
67831
1279
13247
1042
2830
16673
10049
2329
26507

55716
2158
18837
1977
6851
1932
3884
95802
4497
15694
493
4601
6424
1858
7180
1199
36070
9667
10620
9383
10227
4105
34606
8195
3609
5267
861
7675
2259
1068
129352
31151
7452
444
819
583
6259
12158
2438
3525
42259
8767
24334
9615
4068
6148
9830
7039
10441
10203
11793
20253
9060
24365
2098
6339
36160
463585
2292
6634
3574
3099
5324
22993
1902
2143
747
2714
53534
9403
3786
3111
11551
783
6567
8333
4488
6882
8875
983
4089
9374
250291
34632
774
712
533
35226
8204
5440
4038
7576
5057
15396
3087
3200
9747
7857
31662
5639
11448
9531
1756
13843
122595
19830
36951
16496
6198
3318
1475
6455
6055
729
7171
4647
18780
9851
4061
886
14598
23982
1375765
41259
45291
971
1651
16106
5794
4165
34501
5071
32485
6693
3399
339486
9181
52457
56325
43666
73825
33111
81743
380841
136225
277359
112233
40458
252552
884118
423394
508932
102326
146438
793633
254673
608975
121989
350761
750162
615301
470212
510916
489049
64285
297490
144166
522541
102437
556678
3543
61382
14189
45044
2240
174682
51658
31002
4680
810
5932
55511
19411
18343
25016
74798
5180
62298
41190
18018
89908
113801
30126
129292
13270
18078
29979
16911
4174
66152
294565
49927
1332650
200536
83955
81963
139750
91070
51401
79894
63094
48599
48055
280150
950265
38851
51134
55073
60370
48195
5379
64427
111738
2465326
26944
64328
69441
735343
49708
1334544
1537195
219846
235469
458336
100224
341367
44171
122377
61676
95745
2229379
152538
443728
286753
111931
200635
146555
31582
19224
33342
98726
1419369
73966
51784
96501
177749
63303
61042
93765
923459
43424
24621
130800
33603
10677
25275
24384
17167
44958
19773
32278
73143
206330
89148
131063
77415
59383
23501
141685
49329
24298
14526
8775
96287
54749
91436
302963
18190
29967
147246
34835
49063
223314
55606
306067
47260
190365
10516
7993
48498
18974
421048
57370
91025
54033
89173
22601
33646
5826
122660
33121
121965
49040
59648
63780
42151
29811
19635
25593
695454
15687
26822
74769
87420
160307
22086
150355
118227
12934
34897
41082
11368
35623
133798
18324
130454
46564
123339
91928
130340
62899
60161
35998
58100
44711
71219
12968
29334
4149
123677
42954
627846
19972
13723
42695
113329
65632
73814
36348
2593
11775
6964
888
7149
3242
2242
69416
123138
4831
5757
2283
3600
2757
4331
3759
1924
66109
2841
2754
2715
2753
4701
2308
5987
3390
5737
8644
25303
6631
3715
2065
8585
4675
12066
5890
2610
17998
13674
4366
1710
767
22636
2258
21908
2876
8477
12389
58795
5102
19761
27330
108473
52523
102728
62223
46611
70226
332807
28836
38890
144742
177977
40543
112075
36655
46966
1393978
53309
39500
109989
79551
122759
28433
1068978
42084
31069
90895
147886
40792
845303
71295
31945
15856
29210
40875
28241
38943
59487
32641
73894
54500
227511
62319
145491
46005
284664
455054
40213
257555
66217
151095
23072
40924
98868
15180
559062
14897
31628
84585
14058
40985
20293
34078
52727
27695
152061
42337
34726
128852
73345
61792
79195
58683
47910
378098
542899
225116
90914
40909
29659
12806
158383
63251
111564
39188
121065
22908
21038
6105
13879
5857
19799
11976
36534
30150
87697
45621
42521
3148
208016
6031
114996
6614
14950
67367
26142
37077
4743
4075
57813
27210
45516
5144
6061
3283
3562
11792
14154
28439
6818
10513
48080
13926
10692
48109
32080
33924
8831
27740
34402
19456
7545
38369
12623
69451
11411
10569
11814
660448
39685
44437
33194
16612
68190
43953
35143
65521
11667
70641
24894
38972
43182
20107
9287
563299
57491
48996
11508
9089
18486
16741
78153
338391
35630
43560
62779
19182
21137
115367
100399
1915
7935
181269
19009
75726
63775
7422
322959
44479
103069
31615
284834
10995
660486
62380
1934
24262
70548
24530
7226
23791
445342
1547
84992
91292
1281666
72392
181412
49984
373638
129144
62761
597635
174083
152598
5974
58802
135758
433501
41765
83382
37914
64151
90366
213674
251798
550864
35112
280843
148644
4946
129313
14261
40672
45586
89605
45932
22821
213295
470658
94643
120327
312090
319250
120044
45936
120293
46486
138687
750097
18236
267066
94556
43602
1517550
46302
18080
150336
37546
80023
42238
41373
41624
57565
43863
202897
47722
369993
28080
381751
50648
167090
85433
621602
123546
26167
142552
11211
165740
16658
23478
120937
142651
15185
309969
52537
34068
42768
32502
38264
67394
30722
96413
24595
23454
125761
55797
379616
66271
21386
196629
20678
52647
61351
69567
20119
216014
9958
35466
28818
36108
66215
91582
110757
320677
19181
253791
104646
29881
37217
164614
3058
17023
7260
28220
35460
5364
2032
9094
1782
9350
4143
13537
25897
4181
7275
18741
6267
4498
5972
3458
4367
7453
2640
7847
4792
2196
5540
3741
3139
1353
16481
8075
1671
2930
2295
1193
5815
11276
24131
3895
5832
2904
4576
24253
2083
2884
148281
6595
88565
3363
2693
10016
2675
12466
7454
2772
1556
9050
8849
12584
21652
2519
71330
37586
16537
12367
105823
87965
39854
12826
29475
56742
35912
15540
29862
7976
33565
48014
14532
46802
569891
11731
17423
43156
37279
28806
16625
39270
48152
29447
20659
62909
14332
58128
307896
6786
28105
25578
53563
19797
25522
31115
22295
8088
17929
10984
44294
17499
382032
7954
27101
39926
11367
31340
39086
49015
24653
20386
91837
27776
26767
69498
11086
38961
134768
5740
19757
32450
20118
7631
4945
16050
62315
28400
51910
54433
182023
21127
11370
71170
897472
17712
12370
153048
130449
51271
7259
17667
17808
5508
38276
107198
16842
34895
23102
126638
88809
55109
13004
80130
22497
8854
2148
38628
23590
17645
57733
4093
32359
237974
1392931
8418
17204
89306
241767
152415
8866
1790
37674
16470
34147
32194
20647
12905
335227
11549
6516
30438
8285
26031
46659
7688
11006
3730
3864
9235
491675
3206
20390
78021
14026
3966
36363
74978
1904
3996
4099
7072
2975
6222
2218899
14985
18561
5327
432976
20013
2762
10248
3828
13120
18297
121123
2162
111360
679622
33001
18576
31242
21804
4344
7771
354452
9458
17867
16252
14467
250158
4872
20814
1406
6928
18628
22744
110595
111379
23552
89023
36602
3782
8229
5369
4724
48073
3400578
62110
6093
97589
3351
73277
569463
32321
22716
41100
31960
23185
33627
3344
76596
23857
1771
8763
14391
35604
2207
252051
5281
39326
126811
20785
15446
71313
23743
414
859
43653
4468
356
3379
31549
4253
48499
14709
17762
5866
19210
15657
15335
70154
22051
3057
17044
67
242628
6550
8205
213517
851
12940
10941
4746
3738
37957
47297
39304
2360
116009
24238
5151
9698
19117
293768
13048
1426
59203
45124
15072
15802
313645
9006
2185
84966
27026
22756
88495
16809
41133
113546
9139
104312
3326
3047
14314
13137
7828
887
16000
43080
11495
47372
10469
8946
22246
67138
6186
2935
16361
3302
25224
3186
174706
6809
9674
1393
1693
4077
8378
1446219
126555
1081
12761
1850
28118
104010
812280
13779
20871
35291
3404
25926
44856
48140
84088
61758
32663
10909
30373
193117
41188
5284
131664
14676
20082
249967
32408
7173
48793
36752
7322
17943
12182
11600
6005
42745
91391
20422
921
238994
14371
10860
4735
8485
33779
8238
6046
12405
7129
1435
1961
898387
14413
18842
29736
40735
368536
15215
90354
2509
196533
35974
36994
29702
146571
6459
45417
6901
23233
28226
26277
63400
58039
44216
57418
38305
79236
12926
31894
13705
189453
65615
5048
60371
6871
30496
18419
26978
15623
51078
22121
29245
6926
12472
259903
12652
5091
34262
9017
16395
24533
9989
969749
55139
13874
47286
59209
16657
34780
16863
17917
15244
11560
37355
86320
262300
57930
2536
29728
48102
6630
16803
13146
11567
23589
169599
25627
12520
9207
32380
83629
14445
13462
13093
12259
15725
25881
23177
61745
22377
19720
33047
280813
35127
6983
8809
85778
20808
67725
30308
23403
35075
33081
17482
90395
92446
6829
12504
44598
31584
51103
16718
40123
27599
56297
128283
17367
6349
45049
199184
16897
6303
48411
5665
21498
10377
8346
19279
6837
146437
40468
22354
6867
65269
35135
10290
15416
180150
234403
3904
33740
11566
100565
15859
197790
94911
23853
63677
425257
19520
11998
23585
16428
20551
142475
66616
64525
345238
4064
92948
32603
49347
2397
74698
67194
71558
25953
1737034
231969
33362
19161
68600
10184
49405
39564
20984
11732
700820
14077
102979
9872
606024
417939
40066
207355
3824
55180
166814
40740
222581
15557
75905
25535
14702
25447
96784
7582
10330
7403
47579
7160
11299
34453
20203
32667
12669
68652
28000
42190
200073
16919
22108
37710
27329
56598
35519
25957
62980
27078
28253
81866
14583
14943
26562
47427
8196
7514
9131
51589
79220
28262
10343
12999
16089
7321
9592
23404
42903
9719
17693
5873
87986
25708
18643
16866
44963
15013
226778
13804
15674
40631
55195
33557
52468
17243
426526
85897
27961
43287
39858
93142
5088
97296
10024
49597
33647
19105
22780
19100
74021
24316
149577
20187
107120
16137
20740
29641
82887
125834
43384
15832
4562
940164
40899
35634
36776
160971
82317
7213
36804
41319
67182
15822
188831
17924
152307
15347
63155
55225
16196
40664
112646
19680
27010
28056
21033
93759
16036
117493
360767
51731
23154
156763
75555
32014
11461
33698
15639
12052
5887
35804
12538
4882
7075
81607
14573
66533
2407
25786
8807
26560
5920
37613
18251
19742
8289
6644

In [5]:
missing_values = ['data unavailable']
df = pd.read_csv('county.csv', na_values = missing_values)

In [6]:
df.dtypes

name                  object
state                 object
pop2000              float64
pop2010                int64
pop2017              float64
pop_change           float64
poverty              float64
homeownership        float64
multi_unit           float64
unemployment_rate    float64
metro                 object
median_edu            object
per_capita_income    float64
median_hh_income     float64
smoking_ban           object
dtype: object

In [7]:
df.head()

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
0,Autauga County,Alabama,43671.0,54571,55504.0,1.48,13.7,77.5,7.2,3.86,yes,some_college,27841.70,55317.0,none
1,Baldwin County,Alabama,140415.0,182265,212628.0,9.19,11.8,76.7,22.6,3.99,yes,some_college,27779.85,52562.0,none
2,Barbour County,Alabama,29038.0,27457,25270.0,-6.22,27.2,68.0,11.1,5.90,no,hs_diploma,17891.73,33368.0,partial
3,Bibb County,Alabama,20826.0,22915,22668.0,0.73,15.2,82.9,6.6,4.39,yes,hs_diploma,20572.05,43404.0,none
4,Blount County,Alabama,51024.0,57322,58013.0,0.68,15.6,82.0,3.7,4.02,yes,hs_diploma,21367.39,47412.0,none

### Create a series that is comprised of just the unemployment rate variable and drop any missing values from this dataset.

In [8]:
unem = pd.DataFrame(df['unemployment_rate'])
unem

#is dataframe here okay or does it need to be a series? does it make a difference?

      unemployment_rate
0                  3.86
1                  3.99
2                  5.90
3                  4.39
4                  4.02
...                 ...
3137               4.55
3138               2.99
3139               4.50
3140               4.08
3141               3.98

[3142 rows x 1 columns]

In [9]:
unem.isna().sum()

unemployment_rate    3
dtype: int64

In [10]:
unem.dropna(inplace = True)
unem.isna().sum()

unemployment_rate    0
dtype: int64

In [11]:
n_unem = unem.shape[0]
n_unem

3139

### Create a series that is comprised of just the median education variable and drop any missing values from this dataset.

In [12]:
med_edu = pd.DataFrame(df['median_edu'])
med_edu

        median_edu
0     some_college
1     some_college
2       hs_diploma
3       hs_diploma
4       hs_diploma
...            ...
3137  some_college
3138     bachelors
3139  some_college
3140  some_college
3141  some_college

[3142 rows x 1 columns]

In [13]:
med_edu.isna().sum()

median_edu    2
dtype: int64

In [14]:
med_edu.dropna(inplace = True)
med_edu.isna().sum()

median_edu    0
dtype: int64

In [15]:
n_med_edu = med_edu.shape[0]
n_med_edu

3140

## 2. <u>Unemployment Rate Population Analysis</u>

We will assume that the series of all county unemployment rates from 1b is our **population**. Usually, we do not have the whole population at our disposal, which is why we conduct inference in the first place.

However, when conducting our hypothesis testing in this assignment we will assume that we don't have this population information. After we have conducted the hypothesis testing, we can use our population information to "check" our answers to learn more about how hypothesis testing works.

### 2a. [0.5 pt] Calculate the mean and standard deviation unemployment rate of ALL U.S. counties.

In [16]:
unem_mean = unem['unemployment_rate'].mean()
unem_mean

4.611443134756292

In [17]:
unem_std = unem['unemployment_rate'].std()
unem_std

1.648761085622538

### 2b.  [1 pt] Calculate the z-score of the unemployment rate of 'Champaign County' in the state of 'Illinois'.

In [18]:
champaign = df[df['name'] == 'Champaign County']
#returns dataframe with two champaign county values -- value for illinois is 4.24
champaign

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
604,Champaign County,Illinois,179669.0,201081,209399.0,1.83,21.4,55.9,35.2,4.24,yes,some_college,29619.49,49586.0,NaN
2053,Champaign County,Ohio,38890.0,40097,38840.0,-1.54,11.1,75.3,14.7,4.16,no,hs_diploma,25704.80,54495.0,NaN

In [19]:
champaign = 4.24
champaign

4.24

In [20]:
z_score_champ = (champaign - unem_mean)/unem_std
print('Test Statistic: ', z_score_champ)

Test Statistic:  -0.2252862091392959

## 3. <u>Unemployment Rate Sample Analysis</u>

### 3a.  [0.5 pt] Collect a random sample of size 35 from your population of all county unemployment rates (without replacement) using a random state of 3.

In [21]:
sample = unem.sample(35, replace = False, random_state = 3)
sample

      unemployment_rate
340                5.18
983                3.80
2604               3.85
2975               6.59
2116               4.77
2419               3.33
1127               7.88
2279               3.82
30                 4.27
564                3.55
288                2.44
472                5.11
372                4.65
1667               2.27
2153               3.26
1490               5.18
2500               4.36
3118               3.76
2197               5.86
553                3.01
802                2.31
2651               3.52
770                3.36
634                4.82
942                2.14
1338               3.25
3038               5.12
2107               4.59
3006               6.09
1173               4.63
619                3.75
969                3.83
2350               6.56
2178               4.70
894                3.21

### 3b.  [0.5 pt] Calculate the mean and standard deviation of this sample.

In [22]:
sample_mean = sample['unemployment_rate'].mean()
sample_mean

4.252

In [23]:
sample_std = sample['unemployment_rate'].std()
sample_std

1.3095751443974222

## 4. <u>Unemployment Rate Sampling Distribution Analysis</u>

Assume you know $\sigma$ in this part.

### 4a.  [0.5 pt] What is the mean and standard deviation of the sampling distribution of sample mean unemployment rates (collected from samples of size 35)?

the mean would be $\mu\$

In [24]:
unem_mean

4.611443134756292

the standard deviation would be $\sigma\$/sqrt(n)

In [25]:
unem_std/np.sqrt(35) #make sure to use sample size not population size

0.2786914893089392

### 4b.  [1 pt] Is the sampling distribution of samples means (collected from samples of size 35) approximately normal? Explain why or why not?

Yes, the sample was collected randomly, n < 10% of the population size, and n is larger than 30

### 4c.  [1 pt] What is the z-score of our sample mean from 3b?

In [26]:
assumed_pop_mean = unem_mean
n_unem1 = 35



print('Assumed Population Mean: ', assumed_pop_mean)

std_error1 = unem_std/np.sqrt(n_unem1)
print("Standard Error: ", std_error1)

Assumed Population Mean:  4.611443134756292
Standard Error:  0.2786914893089392

In [27]:
z_score_4c = (sample_mean - assumed_pop_mean)/std_error1
print('Z-score: ', z_score_4c)

Z-score:  -1.2897528218302958

### 4d.  [1 pt] What is the probability that a randomly selected sample mean z-score is greater than or equal to the z-score that we calculated in 4c?

In [28]:
from scipy.stats import norm

1 - norm.cdf(z_score_4c, loc = 0, scale = 1)

0.9014317534230412

### 4e.  [0.5 pt] What is the probability that a randomly selected sample mean z-score is less than or equal to the negative absolute value of the z-score that we calculated in 4c?

In [29]:
norm.cdf(-np.abs(z_score_4c), loc = 0, scale = 1)

0.0985682465769589

## 5. <u>Hypothesis Testing for the Average Unemployment Rate of ALL US Counties</u>

For now, suppose that we know nothing about our population that we explored in #2.


Suppose that a reliable source suggested that the average unemployment rate of all US counties is 4.611. We are skeptical of this source, and would like to test this claim and see if there is evidence to suggest that this is not the case. We will use our random sample that we collected from the population in #3 to test this claim.

### 5a.  [1 pt] Formulate your null and alternative hypothses for this hypothesis test.

$h_0$ : $\mu$ = 4.611



$h_a$ : $\mu$ $\neq$ 4.611

### 5b.  [1 pt] Check the conditions for conducting hypothesis testing using the sample from #3.

The sample was collected randomly, n < 10% of the population size, and n is larger than 30

### 5c.  [1 pt] Calculate the p-value for this test.

Assume you do not know $\sigma$.

In [30]:
assumed_pop_mean1 = 4.611
n_unem1 = 35

In [31]:
std_error2 = sample_std/np.sqrt(n_unem1)
print('Standard Error: ', std_error2)

test_statistic2 = (sample_mean - assumed_pop_mean)/std_error2
print('Test Statistic: ', test_statistic2)

Standard Error:  0.22135860103483856
Test Statistic:  -1.6238046910123047

In [32]:
p_value = 2 * (1 - norm.cdf(np.abs(test_statistic2), loc = 0, scale = 1))
print('P-value: ', p_value)

P-value:  0.10441749858303595

### 5d.  [1 pt] Make a conclusion about your hypotheses using this p-value and a significance level of $\alpha=0.05$.

Becuase p-value = 0.10441749858303595 is > $\alpha\$ = 0.05, we fail to reject the null hypothesis. There is insufficient evidence to suggest the alternative hypothesis.

### 5e.  [1 pt] Now we would like to make a 95% confidence interval for the average unemployment rate of al U.S. counties. First, check the conditions for creating this confidence interval.

Sample is collected randomly, n < 10% of population size, and n > 30

### 5f.  [1 pt] Now create this 95% confidence interval.

Assume you do not know $\sigma$.

In [33]:
alpha = 0.05
critical_value = norm.ppf(1 - (alpha/2))
#equivalent to norm.ppf(.975)

print('Critical Value: ', critical_value)


ll = sample_mean - critical_value * (sample_std/np.sqrt(n_unem1))
ul = sample_mean + critical_value * (sample_std/np.sqrt(n_unem1))
    #n_unem1 = 35
    #sample_mean = 4.252


print('95% confidence interval:', '(',ll,',',ul,')')

Critical Value:  1.959963984540054
95% confidence interval: ( 3.8181451143035456 , 4.685854885696454 )

### 5g.  [1 pt] Use this confidence interval to make a conclusion about your hypothesis tests.

Becuase $\mu\$ = 4.611 is inside the confidence interval, we fail to reject the null hypothesis. There is insufficient evidence to suggest the alternative hypothesis

### 5h.  [0.5 pt] NOW, using what we *actually* know about the population and population mean, did our hypothesis test *actually* make the right conclusions in 5d and 5g?

5d and 5g both fail to reject the null , so our hypothesis test did make the right conclusion becuase they both agree

## 6. <u>Median Education Level Population Analysis</u>

We will assume that the series of all county median education levels from 1c is our **population**. Usually, we do not have the whole population at our disposal, which is why we conduct inference in the first place.

However, when conducting our hypothesis testing in this assignment we will assume that we don't have this population information. After we have conducted the hypothesis testing, we can use our population information to "check" our answers to learn more about how hypothesis testing works.

### <u>Tutorial</u>: Conditional Filtering of a Series

In [34]:
import pandas as pd
import numpy as np
small_series=pd.Series(['stat107', 'stat207', 'stat307', 'stat207'])
small_series

0    stat107
1    stat207
2    stat307
3    stat207
dtype: object

We can count the number of entries in a series that meet a certain condition by setting up a condition upon the values in a series and taking the sum of the Boolean values.

In [35]:
small_series=='stat207'

0    False
1     True
2    False
3     True
dtype: bool

In [36]:
np.sum(small_series=='stat207')

2

### 6a.  [0.5 pt] Calculate the proportion of all U.S. counties that have a median education level of 'hs_diploma'.

In [37]:
prop_hs = np.sum(med_edu['median_edu'] == 'hs_diploma')
prop_hs

1397

In [38]:
prop_hs = prop_hs/med_edu.shape[0]
prop_hs

0.4449044585987261

## 7. <u>Median Population Sample Analysis</u>

### 7a.  [0.5 pt] Collect a random sample of 40 county median education levels from the population of ALL U.S. county median education levels, (without replacement), using a random state of 100.

In [39]:
med_edu_sample = med_edu.sample(40, replace = False, random_state = 100)
med_edu_sample

        median_edu
1168    hs_diploma
1049  some_college
1921  some_college
1740  some_college
3138     bachelors
497   some_college
1745  some_college
1148  some_college
1248    hs_diploma
1333  some_college
1907  some_college
1738  some_college
117     hs_diploma
2711    hs_diploma
617   some_college
781     hs_diploma
1276  some_college
952     hs_diploma
2444    hs_diploma
2746  some_college
1669  some_college
1079    hs_diploma
2022  some_college
2342    hs_diploma
154     hs_diploma
3004    hs_diploma
2140    hs_diploma
29      hs_diploma
31      hs_diploma
322   some_college
2027  some_college
1638  some_college
357     hs_diploma
1989    hs_diploma
775   some_college
2089  some_college
3036    hs_diploma
2825    hs_diploma
1162    hs_diploma
1137    hs_diploma

### 7b.  [0.5 pt] Calculate the proportion of counties in this sample that have a median education level of high school diploma.

In [40]:
prop_sample_hs = np.sum(med_edu_sample['median_edu'] == 'hs_diploma')
prop_sample_hs = prop_sample_hs/med_edu_sample.shape[0]
prop_sample_hs

0.5

## 8. <u>Sampling Distribution of Sample Proportions Analysis</u>

### 8a. [1 pt] What is the mean and standard deviation of the sampling distribution of sample propotion of counties with a median education level of high school diploma (collected from samples of size 40)?

Assume you actually know the population proprtion $p$ in part 8.

the population mean is \$p\$

In [41]:
prop_hs

0.4449044585987261

the standard deviation is sqrt((\$p\$ (1 - \$p\$))/n)

In [42]:
num = prop_hs * (1-prop_hs)
den = med_edu.shape[0]

np.sqrt(num/den)

0.008868546030771033

### 8b.  [1 pt] What is the z-score of our sample proportion from 7b?

In [43]:
n_prop = 40

assumed_pop_prop = prop_hs
print('Assumed Population Proportion:', assumed_pop_prop)

std_error_prop = np.sqrt((assumed_pop_prop * (1 - assumed_pop_prop))/n_prop)
print('Standard Error: ', std_error_prop)

Assumed Population Proportion: 0.4449044585987261
Standard Error:  0.07857551802528899

In [44]:
z_score8b = (prop_sample_hs - assumed_pop_prop)/std_error_prop
print('z-score: ', z_score8b)

z-score:  0.7011794867650984

## 9. <u>Hypothesis Testing for the Proportion of ALL U.S. Counties that have a Median Education Level of High School Diploma</u>

For now, suppose that we know nothing about our population that we explored in #6.

Previous studies have suggested that in the past, 45% of U.S. counties have a median education level of a high school diploma. We are skeptical that that is the still the case. We would like to test (using our sample from #7), whether there is evidence to suggest that the the proportion of counties with a median education level of high school diploma is diffrent from 45%.

### 9.a.  [1 pt] Formulate your null and alternative hypothses for this hypothesis test.

h0: \$p\$ = .45

ha: \$p\$ != .45

### 9b.  [1 pt] Check the conditions for conducting hypothesis testing using the sample from #7.

Sample is collected randomly, n is less than 10% of population size, np: (.45 * 40) > 10, and n*(1-p): (40*.55) >= 10

### 9c.  [1 pt] Calculate the p-value for this test.

Assume you do not know anything about the population proportion (including the value of $p$).

In [45]:
n_prop = 40

assumed_pop_prop1 = .45
print('Assumed Population Proportion:', assumed_pop_prop1)

std_error_prop1 = np.sqrt((assumed_pop_prop1 * (1 - assumed_pop_prop1))/n_prop)
print('Standard Error: ', std_error_prop1)

Assumed Population Proportion: 0.45
Standard Error:  0.07866066361276136

In [46]:
p_value1 = 2 * (1 - norm.cdf(prop_sample_hs, loc = assumed_pop_prop1, scale = std_error_prop1))
print('p-value: ', p_value1)

p-value:  0.5250099664186034

the p-value is 0.5250099664186034

### 9d.  [1 pt] Make a conclusion about your hypotheses using this p-value and a significance level of $\alpha=0.10$.

Because the p-value = 0.5250099664186034 > $\alpha\$ = 0.10, we fail to reject the null hypothesis -- there is insufficient evidence to suggest the alternative hypothesis

### 9e.  [1 pt] Now we would like to make a 90% confidence interval for the proportion of ALL U.S. counties that have a median education level of high school diploma.. First, check the conditions for creating this confidence interval.

Sample is collected randomly, n is less than 10% of population size, np: (.45 * 40) > 10, and n*(1-p): (40*.55) >= 10

### 9f.  [2 pt] Now create this 90% confidence interval.

Assume you do not know anything about the population (including $p$).

In [47]:
alpha = 0.10
critical_value1 = norm.ppf(.95)
#equivalent to norm.ppf(.95)

print('Critical Value: ', critical_value1)





ll1 = prop_sample_hs - critical_value1 * np.sqrt(assumed_pop_prop1 * (1 - assumed_pop_prop1)/n_prop)
ul1 = prop_sample_hs + critical_value1 * np.sqrt(assumed_pop_prop1 * (1 - assumed_pop_prop1)/n_prop)

    #n_prop = 40
    #assumed_pop_prop1 = .45


print('(',ll1,',',ul1,')')
print(assumed_pop_prop1)

Critical Value:  1.6448536269514722
( 0.3706147221581398 , 0.6293852778418603 )
0.45

### 9g.  [1 pt] Use this confidence interval to make a conclusion about your hypothesis tests.

Because the null value \$p\$ = .45 is inside the confidence interval, we fail to reject the null -- there is insufficient evidence to suggest the alternative hypothesis